body {
    height: 100vh;
    background-color: linear-gradient(to right, #000000, #333333);
    background-image: url("https://images.pexels.com/photos/1061640/pexels-photo-1061640.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cover-container {
    max-width: 60vw;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-link.active {
    color: white;
    border-bottom-color: white;
}

.btn-secondary {
    color: #333;
    font-weight: 700;
}

.btn-secondary:hover {
    color: #333;
    font-weight: 700;
}